# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini

# NuGet
packages/
*.nupkg

# Test results
TestResults/

# Publish
publish/